html.body {
    margin: 2px;
    height:100%;
    background-color:blue;
}

.navbar {
    width: 5000px;
}

.multiselect {
width: 500px;
height:500px;
};

#button {
float: right;
}

table {
    font-family: arial, sans-serif;
    font-size: 15px;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
