html.body {
    margin: 2px;
    height:100%;
    background-color:blue;
}

.navbar {
    width: 5000px;
}

.multiselect {
width: 500px;
height:500px;
};

#button {
float: right;
}


#table {
    font-size: 1rem;
}


